body {
  font-family: monospace;
  background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/asfalt.png");
  color: #0D0E0F;
}





.jumbotron {
  text-align: center;
  width: 70rem;
  margin: 2rem auto;
  border-radius: .375rem;
  border: solid .25rem rgb(13,14,15);
  background-color: rgba(229,230,231,.25);
}

.jumbotron h1 {
  font-size: 5em;
  font-family: 'Rancho', cursive;
}

.input-group {
  width: 20rem;
  margin: 2rem auto 0 auto;
}

.container {
  width: 25rem;
  height: 50rem;
  margin: 5rem auto;

}

.card {
  border: 0;
  height: 500px;
  background-color: rgba(0,0,0,.25);
  border: 5px solid rgba(0,0,0,.75);
}

.row {
  margin: 0;
}

#screen {
  height: 15%;
  color: rgba(255, 255, 255, 0.75);
  background-color: rgba(0, 0, 0, 0.75);
}

#screen .row {
  height: 50%;
  align-items: center;
  justify-content: flex-end;
}
#reset {
  height: 15%;
}

#input {
  height: 70%;
}

#input .row {
  height: 25%;
}

.col-btns {
  padding: 0;
}

.card, .btn, .form-control {
  border-radius: 0;
}


.cell {
  display: inline-block;
  background-color: Lightgray;
  border: solid .25px Black;
  height: 100%;
}

.btn:focus {
  box-shadow: inset 0 0;
}

.btn:active {
  top: 1px;
  left: 1px;
  /* box-shadow: inset -1px -1px 1px rgba(0,0,0,.5); */
}

.btn {
  transition: background-color .75s;
}

.btn-integer {
  background-color: #afafaf;
}

.btn-integer:hover {
  background-color: #bfbfbf;
}

.btn-operator {
  color: #afafaf;
  background-color: #323232;
}

.btn-operator:hover {
  background-color: #202020;
}
